In [1]:
    # Series is a one-dimensional labeled array capable of holding data of any type
        # (integer,string, float, python objects, etc.).
        # The axis labels are collectively called index.

    # Key Points :
        # Homogeneous data
        # Size Immutable
        # Values of Data Mutable

    # pandas.Series
        # A pandas Series can be created using the following constructor:
            # pandas.DataFrame( data, index, dtype, copy)

In [2]:
        # The parameters of the constructor are as follows:
            # data : data takes various forms like ndarray, list, constants
            # index : Index values must be unique and hashable, same length as data.
            # Default np.arrange(n) if no index is passed.
            # dtype : dtype is for data type. If None, data type will be inferred
            # copy : Copy data. Default False

In [3]:
    # A series can be created using various inputs like:
        # Array
        # Dict
        # Scalar value or constant

In [4]:
import pandas as pd
import numpy as np

Create an Empty Series

In [5]:
s =pd.Series()
print(s)

Series([], dtype: object)

Create a Series from ndarray<br>
If no index is passed,then by default index will be range(n) where n is array length, i.e., [0,1,2,3â€¦.range(len(array))-1]

In [6]:
data = np.array(['a','b','c','d','e'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

import the pandas library and aliasing as pd

In [7]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[101,102,103,104])
print(s)

101    a
102    b
103    c
104    d
dtype: object

Create a Series from dict

In [8]:
data = {'age':50 , 'name':'Dipika', 'occ':'home maker'}
s = pd.Series(data)
print(s)

age             50
name        Dipika
occ     home maker
dtype: object

Create a Series from dict

In [9]:
data = { 'name':'Dipika', 'occ':'home maker'}
s = pd.Series(data)
print(s)

name        Dipika
occ     home maker
dtype: object

Adding multiple dict to series

In [10]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'d': 4, 'e': 5, 'f': 6}
dict3 = {'g': 7, 'h': 8, 'i': 9}
series1 = pd.Series(dict1)
series2 = pd.Series(dict2)
series3 = pd.Series(dict3)
combined_series = pd.concat([series1, series2, series3])
print(combined_series)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

Adding list of dict to series

In [11]:
list_of_dicts = [{'a': 1, 'b': 2, 'c': 3},
                 {'d': 4, 'e': 5, 'f': 6},
                 {'g': 7, 'h': 8, 'i': 9}]
series = pd.Series(list_of_dicts)
print(series)

0    {'a': 1, 'b': 2, 'c': 3}
1    {'d': 4, 'e': 5, 'f': 6}
2    {'g': 7, 'h': 8, 'i': 9}
dtype: object

This will create a Pandas Series where each element is a dictionary from your list. If you want to combine all dictionaries into a single Series, you can do the following:<br>
Combine all dictionaries into a single dictionary

In [12]:
combined_dict = {k: v for d in list_of_dicts for k, v in d.items()}
# Convert the combined dictionary into a Pandas Series
combined_series = pd.Series(combined_dict)
print(combined_series)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

import the pandas library and aliasing as pd<br>
Note : z and l does not have value present in index list, so considered NaN

In [13]:
data = {'a':0. ,'b':1.0,'c':2}
s = pd.Series(data,index=['b','c','z','l'])
print(s)

b    1.0
c    2.0
z    NaN
l    NaN
dtype: float64

Create a Series from Scalar

In [14]:
s = pd.Series(5, index=[0, 1, 2, 3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

Accessing Data from Series with Position

In [15]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[2])

3

Retrieve the first three elements in the Series

In [16]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve the first three element
print(s[:3])

a    1
b    2
c    3
dtype: int64

Retrieve the last three elements in the Series

In [17]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve the first three element
print(s[-3:])

c    3
d    4
e    5
dtype: int64

Retrieve Data Using Label (Index)

In [18]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve a single element
print(s['a'])

1

Retrieve multiple elements using a list of index label values.<br>
If a label is not contained, an exception is raised.

In [19]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve multiple elements
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64