In [1]:
    # A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

    # Features of DataFrame
        # Potentially columns are of different types
        # Size â€“ Mutable
        # Labeled axes (rows and columns)
        # Can Perform Arithmetic operations on rows and columns

    # A pandas DataFrame can be created using various inputs like:
        # Lists
        # dict
        # Series
        # Numpy ndarrays
        # Another DataFrame

Create an Empty DataFrame

In [2]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

Create a DataFrame from Lists

In [3]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

Dtype List :<br>
int64: 64-bit integer<br>
float64: 64-bit floating point<br>
bool: Boolean values (True or False)<br>
datetime64[ns]: Date and time<br>
timedelta[ns]: Difference between two datetime values<br>
object: Generic type (usually for strings or mixed types)<br>
category: Categorical data

Create a DataFrame from List of list

In [4]:
data = [['S1','IT Professional'],['D1','Home Maker'],['S2','Student']]
df = pd.DataFrame(data,columns=['Name','Occupation'],dtype=object)
print(df)

  Name       Occupation
0   S1  IT Professional
1   D1       Home Maker
2   S2          Student

Create a DataFrame from Dict of ndarrays / Lists

In [5]:
data = {'Name':['S1', 'D1', 'S2'],
'Occupation':['Data Science','Home Maker','Student']}
df= pd.DataFrame(data)
print(df)

  Name    Occupation
0   S1  Data Science
1   D1    Home Maker
2   S2       Student

Create an indexed DataFrame using arrays.

In [6]:
data = {'Name':['S1', 'D1', 'S2'],
'Occupation':['Machine Learning','Home Maker','Student']}
df= pd.DataFrame(data,index=['ind_1','ind_2','ind_3'])
print(df)

      Name        Occupation
ind_1   S1  Machine Learning
ind_2   D1        Home Maker
ind_3   S2           Student

Create a DataFrame from List of Dicts

In [7]:
data = [{"Name":"S1", "Occupation": "LLM"},{"Name":"D1", "Occupation": "Home Maker"},{"Name":"S2", "Occupation": "LLM"}]
df= pd.DataFrame(data,index=['ind_1','ind_2','ind_3'])
print(df)

      Name  Occupation
ind_1   S1         LLM
ind_2   D1  Home Maker
ind_3   S2         LLM

create a DataFrame with a list of dictionaries, row indices, and column indices.

In [8]:
data = [{'a': 1, 'b': 2},  {'a': 5, 'b': 10, 'c': 20}]
# With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
# With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)  # Not b1 is not present in dictionary, so the values are null

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

Create a DataFrame from Dict of Series

In [9]:
d ={'one': pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

Column Selection

In [10]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

Column Addition

In [11]:
d = {'Name' : pd.Series(['S1','D1','S2'], index=['ind1', 'ind2', 'ind3'])  , 'Occupation' : pd.Series(['LLM','Home Maker','LLM'], index=['ind1', 'ind2', 'ind3'])}
df = pd.DataFrame(d)
# Adding a new column to an existing DataFrame object with column label by passing new series
print ("Adding a new column by passing as Series:")
df['Lives in']=pd.Series(['Mumbai','Mumbai','Mumbai'],index=['ind1', 'ind2', 'ind3'])
print(df)
# del dataframe['<index_no>'] is used to delete the

Adding a new column by passing as Series:
     Name  Occupation Lives in
ind1   S1         LLM   Mumbai
ind2   D1  Home Maker   Mumbai
ind3   S2         LLM   Mumbai

using pop function we can find the column values

In [12]:
nam= df.pop('Name')
print(nam)

ind1    S1
ind2    D1
ind3    S2
Name: Name, dtype: object

Slice Rowa

In [13]:
d = {'eight' : pd.Series([101, 201, 301], index=['a101', 'b101', 'c101']),
'nine' : pd.Series([101, 201, 301, 401], index=['a101', 'b101', 'c101', 'd101'])}
df = pd.DataFrame(d)
print(df[2:4])

      eight  nine
c101  301.0   301
d101    NaN   401

Addition of Rows<br>
Create two sample DataFrames

In [14]:
df1 = pd.DataFrame([['S1','Loc1' ], ['D1', 'Loc1']], columns=['Name','Lives In'])
df2 = pd.DataFrame([['S2', 'Loc1']], columns=['Name','Lives In'])
df_combined = pd.concat([df1, df2], axis=0, ignore_index=True)
print(df_combined)

  Name Lives In
0   S1     Loc1
1   D1     Loc1
2   S2     Loc1

Drop: drop and specify index and axis-0